    </div> <!-- header.mustache bodyContainer > inner 부분 -->
</div>     <!-- header.mustache bodyContainer 부분 -->
<div id="footer">
    <div class="inner">
        <div class="copyright flexBox">
            <a href="/"><img src="/img/ssjgLogo.png" alt="logo"></a>
            <p>우리페이지 푸터입니다.</p>
        </div>
    </div>
</div>
</body>
</html>