.boardViewBox{
    margin-top: 20px;
}
.boardViewBox .viewTitle{
    margin-right: 10px;
    font-weight: bold;
    color: #D02E35;
}
.boardViewBox > div{
    padding: 20px 0;
    border-bottom: 1px solid #e8e8e8;
}
.boardViewBox > div:nth-child(1) > span{ /* 제목 */
    font-size: 25px;
}
.boardViewBox > div:nth-child(2){ /* 기타정보 */
    display: flex;
    justify-content: space-between;
}
.boardViewBox > div:nth-child(3){ /* 내용 */
    min-height: 500px; /* 높이 */
    /* min-height: ;  최소높이 : 내용을 더 커지면 더 커진다 */
    /* max-height: ;  최대높이 : 내용물 더 커지면 고정 */
}