{{>layout/adminHeader}}
<link rel="stylesheet" href="/css/board.css" type="text/css">

<div class="container">
    <h3 id="tit_le">공지사항</h3>

    <div class="boardHead flexBox">
        <div class="pagebtn">
            전체 페이지수 :<span class="totalPage"></span>
            전체 공지사항수 :<span class="totalBoardSize"></span>
        </div>

        <div class="flexBox">
            <p>페이지당 수 : &nbsp;</p>
            <select class="pageBoardSize" onchange="onPageBoardSize( this )">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
        </div>
    </div>

    <div class="tableWrap">
        <table class="table table-hover table align-middle " >
            <thead>
            <tr>
                <th scope="col" style="width:5%;">번호</th>
                <th scope="col" style="width:13%;">제목</th>
                <th scope="col" style="width:20%;">내용</th>
                <th scope="col" style="width:15%;">작성 날짜</th>

            </tr>
            </thead>
            <tbody id="boardTableBody">


            </tbody>
        </table>
    </div>

    <!--페이지 네이션-->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">


        </ul>
    </nav>

    <div class="searchbtn searchBox routeSearchWrap">
        <div class="selectWrap">
            <select class="searchSelect key">    <!-- 검색 key : SQL 검색시 사용할 필드명  -->
                <option value="b.btitle">제목</option>
                <option value="b.content">내용</option>
            </select>
            <i class="bi bi-caret-down-fill"></i>
        </div>
        <input type="text" class="keyword" name="keyword" id="keyword" />
        <button type="button" onclick="onSearch()" value="검색"><i class="bi bi-search"></i></button>
    </div>

    <div class="flexBox btnWrap">
        <a class="btn" href="/board/admin/write">글쓰기</a>
    </div>
</div>

<script src="/js/admin/board.js"></script>


{{>layout/footer}}