{{>layout/header}}

<link rel="stylesheet" href="/css/busseat.css" type="text/css">
<script src="/js/busseat.js"></script>

<!--<script src="/js/busseat.js"></script>-->
<div id="loadingBox"></div>
<h3> 버스 좌석 페이지</h3>
    <div class="busseatlist">

        <div class="seatBox">

        </div>
    </div>

<div class="btnWrap flexBox btnWrapBottom">
    <a class="btn" href="javascript:history.back();"> 뒤로가기</a>
</div>






{{>layout/footer}}