{{>layout/header}}

    <h3 class="pageTite"> <span id="mName"></span>님 예약</h3>

<div class="tableWrap">
    <table class="table">
        <colgroup>
            <col style="width:5%">
            <col style="width:7%">
            <col style="width:17%">
            <col style="width:8%">
            <col style="width:17%">
            <col style="width:5%">
            <col style="width:8%">
            <col style="width:17%">
            <col style="width:16%">
        </colgroup>
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">출발지</th>
            <th scope="col">출발시간</th>
            <th scope="col">도착지</th>
            <th scope="col">도착시간</th>
            <th scope="col">좌석</th>
            <th scope="col">가격</th>
            <th scope="col">예약일</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="userTableBody">

        </tbody>
    </table>
</div>









<script src="/js/user.js"></script>
{{>layout/footer}}